.vla-cy {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  overflow: hidden; }

.vla-cy, .vla-map {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  overflow: hidden; }

.vla-map {
  z-index: 998; }

.vla-viewport {
  position: relative;
  overflow: hidden; }

.vla-selection-panel {
  display: none;
  position: absolute;
  top: 5px;
  left: 54px;
  background-color: #676766;
  border: solid 1px #B9F0C9;
  z-index: 10001;
  min-width: 200px; }

.vla-panel-on .vla-selection-panel {
  left: 161px; }

.vla-object-info {
  border-radius: 2px;
  background-color: #ffffff;
  color: #333;
  padding: 5px;
  margin-bottom: 5px;
  font-size: 12px; }
  .vla-object-info .vla-caption {
    font-weight: bold; }

.vla-selection-info {
  color: #FFFFFF; }

.vla-object-info-header {
  color: #B9F0C9;
  padding-bottom: 5px;
  text-wrap: avoid; }
  .vla-object-info-header .vla-graph-link {
    border-color: #B9F0C9; }
  .vla-object-info-header .vla-toggler {
    cursor: pointer;
    border-bottom: 1px dotted #B9F0C9;
    margin-left: 10px; }

.vla-panel-toggler {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 50px;
  height: 50px;
  background-color: #676766;
  color: #B9F0C9;
  cursor: pointer;
  border-radius: 2px;
  z-index: 10001;
  padding: 14px;
  font-size: 20px;
  text-align: center;
  box-sizing: border-box;
  border: solid 1px #B9F0C9; }

.vla-panel {
  display: none;
  font-size: 14px;
  font-weight: normal;
  color: #ffffff;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 155px;
  z-index: 10000;
  background-color: #676766;
  border-radius: 2px;
  border: solid 1px #B9F0C9;
  /*padding: 10px;*/
  padding: 50px 0 0 0;
  /*display: none;*/
  overflow-y: auto;
  box-sizing: border-box; }
  .vla-panel input, .vla-panel button, .vla-panel select, .vla-panel textarea {
    color: #000000; }

.vla-panel-on .vla-panel {
  display: block; }

.vla-type-filter-form, .vla-snapshot-form, .focus-panel, .vla-show-labels-form, .vla-layouts-form, .vla-selection-panel,
.vla-node-style-panel, .vla-edge-style-panel {
  padding: 10px; }

.vla-attr-filter {
  padding: 10px; }
  .vla-attr-filter select {
    width: 100%; }

.vla-search {
  padding: 10px; }

.vla-type-filter-form, .focus-panel, .vla-show-labels-form, .vla-layouts-form, .vla-node-style-panel, .vla-edge-style-panel, .vla-attr-filter {
  border-bottom: solid 1px #B9F0C9; }

.vla-layouts-form select {
  width: 100%; }
.vla-layouts-form .vla-layouts-status {
  display: none; }
.vla-layouts-form .vla-layouts-start, .vla-layouts-form .vla-layouts-stop {
  display: none; }

.vla_spinner {
  cursor: wait;
  background-color: white;
  color: #000;
  font-size: 2em;
  left: 0;
  opacity: 0.9;
  position: absolute;
  text-align: center;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 10001; }
  .vla_spinner span {
    position: absolute;
    top: 50%; }

.vla-checkbox {
  display: block;
  cursor: pointer; }
  .vla-checkbox input {
    display: none; }
  .vla-checkbox .vla-cb-check {
    color: #B9F0C9; }
  .vla-checkbox .vla-cb-empty, .vla-checkbox .vla-cb-check {
    width: 1em;
    display: inline-block; }
  .vla-checkbox .vla-cb-check {
    display: none; }
  .vla-checkbox.vla-cb-checked .vla-cb-empty {
    display: none; }
  .vla-checkbox.vla-cb-checked .vla-cb-check {
    display: inline-block; }
  .vla-checkbox.vla-disabled {
    opacity: 0.5;
    cursor: auto; }

.on-any-selected {
  display: none; }

.sel-any .on-any-selected {
  display: block; }
.sel-any button.on-any-selected {
  display: inline-block; }

.on-any-node-selected {
  display: none; }

.sel-n-any .on-any-node-selected {
  display: block; }
.sel-n-any button.on-any-node-selected {
  display: inline-block; }

.on-any-edge-selected {
  display: none; }

.sel-e-any .on-any-edge-selected {
  display: block; }
.sel-e-any button.on-any-edge-selected {
  display: inline-block; }

.focus-panel {
  display: none; }

.vla-focused .focus-panel {
  display: block; }

.show-all-block {
  position: absolute;
  top: 0;
  left: 0;
  height: 49px;
  padding-top: 7px;
  padding-right: 6px;
  padding-left: 55px;
  border-bottom: solid 1px #B9F0C9;
  box-sizing: border-box; }
  .show-all-block button {
    cursor: pointer;
    border: 1px solid lightgrey;
    background-color: #B9F0C9; }

.vla-graph-link {
  border-bottom: 1px dotted black;
  cursor: pointer; }

.vla-search input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #B9F0C9; }

.tt-menu {
  background-color: #676766;
  border-radius: 2px;
  border: solid 1px #B9F0C9;
  max-height: 10em;
  overflow: auto;
  width: 14em; }

.tt-suggestion {
  padding: 3px 10px;
  cursor: pointer;
  border-bottom: 1px solid #B9F0C9;
  box-sizing: border-box; }

.tt-suggestion .vla-id {
  font-size: 0.8em; }

.tt-highlight {
  font-weight: bold; }

.tt-cursor, .tt-suggestion:hover {
  color: #676766;
  background-color: #B9F0C9; }

.selectric-items li {
  position: relative; }
  .selectric-items li span.fa {
    font-size: large;
    position: absolute;
    top: 12px;
    right: 5px;
    width: 19px; }

.vla-attr-filter input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #B9F0C9; }
.vla-attr-filter .vla-selected-filters:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }
.vla-attr-filter .vla-filter-block {
  position: relative;
  border: solid 1px #676766;
  border-radius: 2px;
  padding: 5px 18px 5px 5px;
  margin: 1px;
  box-sizing: border-box;
  white-space: nowrap;
  float: left;
  display: block;
  max-width: 155px;
  color: #676766;
  background-color: #B9F0C9; }
  .vla-attr-filter .vla-filter-block .vla-filter-content {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis; }
  .vla-attr-filter .vla-filter-block .vla-filter-remove {
    position: absolute;
    right: 3px;
    top: 5px;
    cursor: pointer; }

.vla-node-style-panel {
  background-color: #6e6055; }

.vla-edge-style-panel {
  background-color: #5c7b5c; }

.vla-time-panel {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 400px;
  z-index: 10000;
  padding: 10px;
  border: solid 1px #B9F0C9;
  background-color: #676766; }

.vla-rtl {
  unicode-bidi: bidi-override;
  direction: rtl; }

.vla-notes-block .vla-notes {
  max-width: 400px;
  max-height: 300px;
  overflow-y: auto; }
  .vla-notes-block .vla-notes .vla-note {
    border-top: 1px solid lightgray;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block; }
    .vla-notes-block .vla-notes .vla-note .vla-note-text {
      display: block; }
    .vla-notes-block .vla-notes .vla-note .vla-delete {
      cursor: pointer; }
.vla-notes-block form {
  display: none; }
  .vla-notes-block form textarea {
    width: 100%;
    display: block; }

.vla-object-info .vla-notes-block form {
  display: block; }

/*# sourceMappingURL=main.css.map */
