/** ---------- SYSTEM DEFAULTS ------ */
node {
    width: 50px;
    height: 50px;
    background-color: gray;
    text-valign: center;
    text-outline-width: 0;
    text-outline-color: black;
    color: #fff;

    font-size: 32px;
    font-style: normal;
    font-weight: normal;

    min-zoomed-font-size: 4;
    border-width: 2px;
}
edge {
    curve-style: bezier;
    width: 1;
    target-arrow-shape: triangle;
    line-color: gray;
    target-arrow-color: gray;
}








/** ----------------- USER CUSTOM  -------*/
node.person {
    background-color: green;
}

node.company {
    background-color: blue;
}

node.company_number {
    background-color: cyan;
    color: #000;
}

node.website {
    background-color: #80f;
}

node.officer_id {
    background-color: #0F8;
    color: #000;
}

node.location {
    background-color: red;
}





/** -----------------  SYSTEM IMPORTANT must be last in styles to have maximum priority ---- */
/* icon */
node {
    content: data(_icon);
    font-family: FontAwesome;
}
/* label */
node.show_label {
    content: data(_label);
    text-outline-width: 2;
    text-outline-color: white;
    color: black;
    font-size: 18px;
    font-family: helvetica;
}

edge.hover {
    line-color: red;
    target-arrow-color: red;
    z-index: 9999;
}
node.hover {
    border-width: 1;
    border-color: red;
    z-index: 9999;
}

edge:selected, edge.co-selected {
    width: 4;
}
node.co-selected {
    opacity: 1;
    border-width: 4;
    border-color: purple;
    z-index: 9998;
}

edge.co-selected {
    line-color: purple;
    target-arrow-color: purple;
    /*source-arrow-color: purple;*/
}
:selected {
    /*background-color: black;*/
    line-color: red;
    target-arrow-color: red;
    source-arrow-color: red;
    opacity: 1;
    border-width: 6;
    border-color: #FF0000;
    z-index: 9999;
}