$vla_green: #B9F0C9;
$vla_gray: #676766;

$panel_width: 155px;
$panels_paddings: 10px;
$border_radius: 2px;

.vla-cy {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999;
	overflow: hidden;
}

.vla-cy, .vla-map {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999;
	overflow: hidden;
}
.vla-map {
	z-index: 998;
}

.vla-viewport {
	position: relative;
	overflow: hidden;
}

.vla-selection-panel {
	display: none;
	position: absolute;
	top: 5px;
	left: 54px;
	background-color: $vla_gray;
	border: solid 1px $vla_green;
	z-index: 10001;
	min-width: 200px;
}
.vla-panel-on .vla-selection-panel {
	left: $panel_width + 6px;
}

.vla-object-info {
	border-radius: $border_radius;
	background-color: #ffffff;
	color: #333;
	padding: 5px;
	margin-bottom: 5px;
	font-size: 12px;

	.vla-caption {
		font-weight: bold;
	}
}

.vla-selection-info {
	color: #FFFFFF;
}

.vla-object-info-header {
	color: $vla_green;
	padding-bottom: 5px;
	text-wrap: avoid;

	.vla-graph-link {
		border-color: $vla_green;
	}

	.vla-toggler {
		cursor: pointer;
		border-bottom: 1px dotted $vla_green;
		margin-left: 10px;
	}
}

.vla-panel-toggler {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 50px;
	height: 50px;
	background-color: $vla_gray;
	color: $vla_green;
	cursor: pointer;

	border-radius: $border_radius;
	z-index: 10001;
	padding: 14px;
	font-size: 20px;
	text-align: center;
	box-sizing: border-box;
	border: solid 1px $vla_green;
}

.vla-panel {
	display: none;
	font-size: 14px;
	font-weight: normal;
	color: #ffffff;
	position: absolute;
	top: 5px;
	left: 5px;
	width: $panel_width;
	z-index: 10000;

	background-color: $vla_gray;
	border-radius: $border_radius;
	border: solid 1px $vla_green;

	/*padding: 10px;*/
	padding: 50px 0 0 0;

	/*display: none;*/
	overflow-y: auto;
	box-sizing: border-box;

	input, button, select, textarea {
		color: #000000;
	}
}

.vla-panel-on .vla-panel {
	display: block;
}

.vla-type-filter-form, .vla-snapshot-form, .focus-panel, .vla-show-labels-form, .vla-layouts-form, .vla-selection-panel,
.vla-node-style-panel, .vla-edge-style-panel
{
	padding: $panels_paddings;
}
.vla-attr-filter {
	padding: $panels_paddings;
	select {
		width: 100%;
	}
}

.vla-search {
	padding: $panels_paddings;
}

.vla-type-filter-form, .focus-panel, .vla-show-labels-form, .vla-layouts-form, .vla-node-style-panel, .vla-edge-style-panel, .vla-attr-filter {
	border-bottom: solid 1px $vla_green;
}
.vla-layouts-form {
	select {
		width: 100%;
	}

	.vla-layouts-status {
		display: none;
	}
	.vla-layouts-start, .vla-layouts-stop {
		display: none;
	}
}

.vla_spinner {
	cursor: wait;
	background-color: white;
	color: #000;
	font-size: 2em;
	left: 0;
	opacity: 0.9;
	position: absolute;
	text-align: center;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 10001;

	span {
		position: absolute;
		top: 50%;
	}
}

.vla-checkbox {
	display: block;
	cursor: pointer;

	input {
		display: none;
	}

	.vla-cb-check {
		color: $vla_green;
	}
	.vla-cb-empty, .vla-cb-check {
		width: 1em;
		display: inline-block;
	}
	.vla-cb-check {
		display: none;
	}

	&.vla-cb-checked .vla-cb-empty {
		display: none;
	}
	&.vla-cb-checked .vla-cb-check {
		display: inline-block;
	}

	&.vla-disabled {
		opacity: 0.5;
		cursor: auto;
	}
}

.on-any-selected {
	display: none;
}
.sel-any {
	.on-any-selected {
		display: block;
	}
	button.on-any-selected {
		display: inline-block;
	}
}

.on-any-node-selected {
	display: none;
}
.sel-n-any {
	.on-any-node-selected {
		display: block;
	}
	button.on-any-node-selected {
		display: inline-block;
	}
}

.on-any-edge-selected {
	display: none;
}
.sel-e-any {
	.on-any-edge-selected {
		display: block;
	}
	button.on-any-edge-selected {
		display: inline-block;
	}
}

.focus-panel {
	display: none;
}
.vla-focused .focus-panel {
	display: block;
}

.show-all-block {
	position: absolute;
	top: 0;
	left: 0;
	height: 49px;
	padding-top: 7px;
	padding-right: 6px;
	padding-left: 55px;
	border-bottom: solid 1px $vla_green;
	box-sizing: border-box;

	button {
		cursor: pointer;
		border: 1px solid lightgrey;
		background-color: $vla_green;
	}
}

.vla-graph-link {
	border-bottom: 1px dotted black;
	cursor: pointer;
}

.vla-search input {
	display: block;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid $vla_green;
}

.tt-menu {
	background-color: $vla_gray;
	border-radius: $border_radius;
	border: solid 1px $vla_green;
	max-height: 10em;
	overflow: auto;
	width: 14em;
}

.tt-suggestion {
	padding: 3px 10px;
	cursor: pointer;
	border-bottom: 1px solid $vla_green;
	box-sizing: border-box;
}

.tt-suggestion .vla-id{
	font-size: 0.8em;
}

.tt-highlight {
	font-weight: bold;
}

.tt-cursor, .tt-suggestion:hover {
	color: $vla_gray;
	background-color: $vla_green;
}

.selectric-items li {
	position: relative;

	span.fa {
		font-size: large;
		position: absolute;
		top: 12px;
		right: 5px;
		width: 19px;
	}
}

.vla-attr-filter {
	input {
		display: block;
		width: 100%;
		box-sizing: border-box;
		border: 1px solid $vla_green;
	}

	.vla-selected-filters {
		&:after {
			content: ".";
			visibility: hidden;
			display: block;
			height: 0;
			clear: both;
		}
	}
	.vla-filter-block {
		position: relative;
		border: solid 1px $vla_gray;
		border-radius: $border_radius;
		padding: 5px 18px 5px 5px;
		margin: 1px;
		box-sizing: border-box;
		white-space: nowrap;
		float: left;
		display: block;
		max-width: $panel_width;
		color: $vla_gray;
		background-color: $vla_green;

		.vla-filter-content {
			display: block;
			width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.vla-filter-remove {
			position: absolute;
			right: 3px;
			top: 5px;
			cursor: pointer;
		}
	}
}

.vla-node-style-panel {
	background-color: mix($vla_gray, saddlebrown, 80%);
}
.vla-edge-style-panel {
	background-color: mix($vla_gray, limegreen, 80%);
}

.vla-time-panel {
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: 400px;
	z-index: 10000;

	padding: $panels_paddings;
	border: solid 1px $vla_green;
	background-color: $vla_gray;
}

.vla-rtl {
	unicode-bidi: bidi-override;
	direction: rtl;
}

.vla-notes-block {
	.vla-notes {
		max-width: 400px;
		max-height: 300px;
		overflow-y: auto;

		.vla-note {
			border-top: 1px solid lightgray;
			padding-top: 5px;
			padding-bottom: 5px;
			display: block;

			.vla-note-text {
				display: block;
			}
			.vla-delete {
				cursor: pointer;
			}
		}
	}

	form {
		display: none;

		textarea {
			width: 100%;
			display: block;
		}
	}
}

.vla-object-info .vla-notes-block form {
	display: block;
}